body{
    height: 100vh;
    background-color: black;
    background-image: url('./img/wallpaper002.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    /* Shorthand - background  
     background: color > image > position > repeat > "size" o size nao funciona > attachment
    */
}

#container{
    background-image: url('./img/target001.png');
    background-size: 100% 100%;
    position: relative;
    height: 96vh;
    padding: 10px;
    background-color: purple;


}

#conteudo{
   background-image: url('./img/target001.png');
   background-size: 100% 100%;
   position: absolute;
   height: 200px;
   width: 200px;
   background-color: yellow;
   left: 50%;
   top: 50%;

   transform: translate(-50%,-50%);
   
}

.text{
    background-color: white;
    max-width: 400px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 15px;
}

